@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
    font-family: 'Iceberg', sans-serif;
}
h1 {
    font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #111821;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 3rem;
}